<!DOCTYPE html>
<html>
	<head>
		<link href="../static/A_info.css" rel="stylesheet">
		<link rel="stylesheet" href="{{ url_for('static', filename='A_info.css') }}">

		<title>ANK | Haitian mental health</title>
	
	</head>
	<body id= "flag">

			{% include 'navbar.html' %}

						
				
		 
		<a href= "Ank_info.html"> <br>

  <img id="hMH" src="{{ url_for('static', filename='imfine.jpg') }}" width="285px" class="img">
   
  </a>
  <p  id="ask" >  <b>Its Not easy to ask for help</b>  .&nbsp 
</p>
<br><br><br><br>
<h3>Black youth are less likely to 
seek treatment.<br> About 9% of them reported an episode of 
major <br>depression in the past year,but LESS than half of 
those<br> – about 40% – received treatment.
<h3 align="right">
Black and African American people <br>with 
mental health conditions,<br> specifically those involving 
psychosis,<br> are more likely to be in jail or prison <br>than 
people of other races.
</h3>-->
  </div> 
				
<img id="MHD" src="{{ url_for('static', filename='mhimage2.jpg') }}" width="310px" height="315px"class="img">

		<p id="sym" ><b>Mental health effects everyone differently</b> .</p> 

			<br><br><br><br>
			<p align="center">blah blah blah &nbsp 
</p>

		<!--<button type= "button" onclick="location.href='Ank_comm.html'"> add comment or ask advice</button>-->
	
	</body>      
</html>
