<!DOCTYPE html>
<html>
	<head>
		<link href="../static/A_info.css" rel="stylesheet">
		<link rel="stylesheet" href="{{ url_for('static', filename='A_info.css') }}">

		<title>ANK | Mental Health Information</title>
	
	</head>
	<body id= "flag"> 

			{% include 'navbar.html' %}

						
				
		 
		<a href= "Ank_info.html"> <br>

  <img id="hMH" src="{{ url_for('static', filename='imfine.jpg') }}" width="285px" class="img">
  </a>
  <p  id="ask" >  <b>Its Not easy to ask for help</b></p>

  <h2 align= "right">

  	Because less than 2% of American Psychological 
Association members   <br>
are African American, some worry that mental health care practition-   <br>
ers aren't culturally competent enough to treat their specific issues.
</h2>


<br>
<h3>Mental health effects everyone differently.<br>
Black and African American people <br>with 
mental health conditions,<br> specifically those involving 
psychosis,<br> are more likely to be in jail or prison <br>than 
people of other races.
<h3 align="right">
	<b>Black youth are less likely to 
seek treatment.<br> About 9% of them reported an episode of 
major <br>depression in the past year,but LESS than<br> half of 
those – about 40% – received treatment.
</h3>
  </div> 
				
<p id="sym" > <p align="center" >
			<b>
		The Effects of Mental health <br>can seemingly weaken us but 
		<br>"Unity Makes Strength"</b> </p> 

			<br><br><br><br>
			<p align="center">&nbsp 
</p>

		<!--<button type= "button" onclick="location.href='Ank_comm.html'"> add comment or ask advice</button>-->
	
	</body>      
</html>
