<!DOCTYPE html>
<html>
	<head>
		<link href="../static/Final_ank.css" rel="stylesheet">
		<link rel="stylesheet" href="{{ url_for('static', filename='Final_ank.css') }}">
		<title>Asamn Nou Kapab | Homepage</title>
	</head>
	<body id= "flag">

		{% include 'navbar.html' %}

						
			

		<header> Asamn Nou Kapab...</header>
		<h1>Together we can</h1>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		<p>
		
		<h2>This app is designed to provide a safe space and the resources to help combat every day mental health struggles.  You can use anonymous comment section to vent and /or ask for advice or to reach out to mental health counslers and clinics. </h2>

	
	</body>      
</html>